<div class="row">
  <div class="col-12 mt-3 pt-1 pb-1 d-flex justify-content-around">
    <span class="text-bold">id</span>
    <span class="text-bold">name</span>
    <span class="text-bold">email</span>
    <span class="text-bold">address</span>
    <span class="text-bold">active</span>
  </div>
</div>
<div class="row">
  <div class="col-12 mt-1 data-list-row">
    <app-data-row [dataRow]="row" *ngFor="let row of dataList" (selectClick)="onSelectClicked($event)"
      (updateClick)="onUpdateClicked($event)" (deleteClick)="onDeleteClicked($event)"></app-data-row>
  </div>
</div>
